.container {
    
    .col-xl-2 {
        text-transform: capitalize;
    }
    .col-xl-10 {
        .nav {
            ul {
                li {
                    display: inline-block;
                    a {
                        display: inline-block;
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}
// .row > div {
//     border: 1px solid #212529;

// }